.wrapper{
	width: 972px;
	margin: 0 auto;
	text-align: center;
	text-transform: uppercase;
}
h1 {
	font-size: 14px;
	font-weight: normal;
	line-height: 1em;
}
.carousel {
	margin-top: 40px;
	overflow:hidden;
	font-family: "GothamLight", sans-serif;
	line-height: 19px;
	font-size: 14px;
	height: 555px;
	letter-spacing: 1px;
	position: relative;
}
.carousel p {
	margin-bottom: 0px;
}

.humbug {
	width: 972px;
	height: 555px;
	margin: 0 auto;
	padding: 0;
	position:absolute;
	overflow: hidden;
	color: #ffffff;
}
.humbug li {
	width: 972px;
	height: 555px;
	float: left;
	background: #ccc;
	list-style: none;
	position: relative;
}
.info {
	text-shadow: 5px 0px 5px rgba(4, 46, 79, 0.6);
}
.arrow {
	height: 31px;
	display: block;
	position: absolute;
	top: 50%;
	margin-top: -15px;
	z-index: 7;
	opacity: 0.5;
	background-repeat: no-repeat;
	filter: alpha(opacity = 50);
	cursor: pointer;
	width: 79px;
}
.prev:hover, .next:hover {
	opacity: 1;
	filter: alpha(opacity = 100);
}
.prev {
	background: url(http://static.kurtgeiger.com/media/content/kg/aw12/humbug/left_blue.png);
	left: 10px;
}
.next {
	background: url(http://static.kurtgeiger.com/media/content/kg/aw12/humbug/right_blue.png);
	right: 10px;
}

.bold-black {
	padding: 10px 20px;
	background: #1c142e;
	color: #ffffff;
	width: 300px;
	text-transform: uppercase;
	display: block;
	margin: 10px auto;
	text-decoration: none;
	text-align: center;
	font-family: "GothamLight", sans-serif;
	transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
}
.bold-black:visited, a.bold-black {
	color: #ffffff;
}
.bold-black:hover {
	background: white;
	color: #718aa4;
}
.carousel strong {
	font-family: "GothamMedium", sans-serif;
}
#position-one,
#position-two,
#position-three,
#position-four,
#position-five,
#position-six {
	position: absolute;
	width: 367px;
	line-height: 19px;
	text-shadow: 0px 0px 5px rgba(4, 46, 79, 0.6);
}
#position-one {
	top: 186px;
	left: 74px;
}
#position-two {
	top: 400px;
	left: 473px;
	width: 367px;
}
#position-three {
	top: 140px;
	left: 227px;
	width: 283px;
}
#position-four {
	top: 438px;
	left: 559px;
}
#position-five {
	top: 152px;
	left: 93px;
	width: 461px;
	color: #4b3f60;
	text-shadow: none;
}
#position-six {
	top: 228px;
	left: 242px;
	width: 290px;
}
.sneak-a-peak {
	/* z-index: 100000; */
	background: url(http://static.kurtgeiger.com/media/content/kg/aw12/humbug/sneak-a-peak.png) no-repeat;
	top: 285px;
	right: 66px;
	text-indent: -299px;
	width: 168px;
	height: 115px;
	display: block;
	overflow: hidden;
	position: absolute;
	opacity: 0.6;
	filter: alpha(opacity = 60);
	-webkit-transition: opacity 0.2s ease-in-out;
	-moz-transition: opacity 0.2s ease-in-out;
	-o-transition: opacity 0.2s ease-in-out;
	transition: opacity 0.2s ease-in-out;
}
.sneak-a-peak:hover {
	opacity: 1;
	filter: alpha(opacity = 100);
}
.number-one {
	background: url(http://static.kurtgeiger.com/media/content/kg/aw12/humbug/1.png) no-repeat;
}
.number-two {
	background: url(http://static.kurtgeiger.com/media/content/kg/aw12/humbug/2.png) no-repeat;
}
.number-three {
	background: url(http://static.kurtgeiger.com/media/content/kg/aw12/humbug/3.png) no-repeat;
}
.number-four {
	background: url(http://static.kurtgeiger.com/media/content/kg/aw12/humbug/4.png) no-repeat;
}
.number-five {
	background: url(http://static.kurtgeiger.com/media/content/kg/aw12/humbug/5.png) no-repeat;
}
.number-six {
	background: url(http://static.kurtgeiger.com/media/content/kg/aw12/humbug/6.png) no-repeat;
}

.number-one, .number-two, .number-three, .number-four, .number-five, .number-six {
	text-indent: -99px;
	width: 55px;
	height: 50px;
	display: block;
	overflow: hidden;
	left: 50%;
	margin-left: -27px;
	position: absolute;
	top: -70px;
}
#one {
	background: url('http://static.kurtgeiger.com/media/content/kg/aw12/humbug/strip_01.jpg');
}
#one .info {
	width: 353px;
	position: absolute;
	left: 50%;
	margin-left: -171px;
	top: 200px;
}
#one h2 {
	font-weight: normal;
	font-size: 1em;
	margin: 10px 0px 20px;
	color: #ffffff;
	font-family: "GothamMedium", sans-serif;
}
.info-icon {
	position: absolute;
	left: 20px;
	top: 60px;
	width: 22px;
	height: 22px;
	text-indent: -199px;
	background: url(http://static.kurtgeiger.com/media/content/kg/aw12/humbug/info.png) transparent;
	z-index: 100;
}
.info-text {
	background: #FFFFFF;
	text-transform: none;
	padding: 30px;
	left: 20px;
	width: 100px;
	top: 20px;
	text-align: left;
	position: absolute;
	color: #999999;
	font-size: 11px;
	-webkit-box-shadow: 5px 5px 5px 0px rgba(81, 101, 121, 0.5);
	box-shadow: 5px 5px 5px 0px rgba(81, 101, 121, 0.5);
	z-index: 99;
}
#two {
	background: url(http://static.kurtgeiger.com/media/content/kg/aw12/humbug/strip_02.jpg);
}
#three {
	background: url(http://static.kurtgeiger.com/media/content/kg/aw12/humbug/strip_03.jpg);
}
#four {
	background: url(http://static.kurtgeiger.com/media/content/kg/aw12/humbug/strip_04.jpg);
}
#five {
	background: url(http://static.kurtgeiger.com/media/content/kg/aw12/humbug/strip_05.jpg);
}
#one, #two, #three, #four, #five {
	background-size: contain;
}

.lightbox {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,0.6);
	z-index: 99;
}
.lightbox-panel {
	width: 552px;
	height: 392px;
	position: absolute;
	color: #000000;
	border: 1px solid #8c8c8e;
	padding: 45px;
	top: 50%;
	left: 50%;
	margin-left: -321px;
	margin-top: -241px;
	background-color: #fff;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(81, 101, 121, 0.5);
	box-shadow: 0px 0px 5px 0px rgba(81, 101, 121, 0.5);
	z-index: 100;
}
.lightbox-panel p {
	width: 472px;
	font-size: 14px;
	margin: 0 auto;
	margin-bottom: 25px;
}
.lightbox-panel img {
	border: 1px solid #000;
}
.plus-sign {
	background: url(http://static.kurtgeiger.com/media/content/kg/aw12/humbug/plus.png);
	display: block;
	height: 29px;
	width: 29px;
	position: absolute;
	right: 108px;
	top: 236px;
	overflow: hidden;
	text-indent: -999px;
	z-index: 999;
	background-position: 0px 0px;
}
.plus-sign.active {
	background-position: 0px 29px;
}

/***/
#handbag-two {
	left: 233px;
}
#handbag-three {
	left: 20px;
}
#polaroid-four {
	left: 568px;
}
#polaroid-five {
	left: 208px;
}
.animate-down,
.animate-up{
	transition: all 0.4s ease;
	position: absolute;
}
.animate-down{
	top: -100%;
}
.current .animate-down{
	top: 0;
}
.animate-up{
	bottom: -100%;
}
.current .animate-up{
	bottom: 0;
}


.hide {
	display: none;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

/* font face */

@font-face {
	font-family: 'GothamMedium';
	src: url('../fonts/gothmmed-webfont.eot') no-repeat transparent;
	src: url('../fonts/gothmmed-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/gothmmed-webfont.woff') format('woff'),
		url('../fonts/gothmmed-webfont.ttf') format('truetype'),
		url('../fonts/gothmmed-webfont.svg#GothamMedium') format('svg') no-repeat transparent;
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GothamBook';
	src: url('../fonts/gothmbok-webfont.eot') no-repeat transparent;
	src: url('../fonts/gothmbok-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/gothmbok-webfont.woff') format('woff'),
		url('../fonts/gothmbok-webfont.ttf') format('truetype'),
		url('../fonts/gothmbok-webfont.svg#GothamBook') format('svg') no-repeat transparent;
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GothamLight';
	src: url('../fonts/gothmlig-webfont.eot') no-repeat transparent;
	src: url('../fonts/gothmlig-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/gothmlig-webfont.woff') format('woff'),
		url('../fonts/gothmlig-webfont.ttf') format('truetype'),
		url('../fonts/gothmlig-webfont.svg#GothamLight') format('svg') no-repeat transparent;
	font-weight: normal;
	font-style: normal;
}
